In [2]:
print('hello world')

hello world

In [3]:
import numpy as np

In [4]:
my_list = [1,2,3]
my_list

[1, 2, 3]

In [5]:
np.array(my_list)

array([1, 2, 3])

In [6]:
my_matrix = [[1,2,3],[4,5,6],[7,8,9]]
my_matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [7]:
np.array(my_matrix)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [8]:
import pandas as pd

In [9]:
nums = [5,10,15,20]

In [11]:
#create a pandas series
my_series = pd.Series(nums)

In [12]:
my_series

0     5
1    10
2    15
3    20
dtype: int64

In [13]:
pops = [500, 1000, 2000, 3000]

In [14]:
pop_labels = pd.Series(pops,index = ['Cal', 'edmonton', 'montreal', 'torono'])

In [15]:
pop_labels

Cal          500
edmonton    1000
montreal    2000
torono      3000
dtype: int64

In [16]:

from numpy.random import randn
np.random.seed(101)

In [17]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [18]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [19]:
#create dataframe 4r x 2c
#use numbers

In [27]:
my_data = [[1,2, 3 , 4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]

In [28]:
my_df = pd.DataFrame(my_data, columns= ['A', 'B','C','D'])

In [29]:
my_df

    A   B   C   D
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3  13  14  15  16

In [30]:
my_df['A']

0     1
1     5
2     9
3    13
Name: A, dtype: int64

In [31]:
#returned a series -> use: []

In [33]:
my_df[['A']]

    A
0   1
1   5
2   9
3  13

In [34]:
#return dataframe  -> use: [[]]

In [35]:
#crreate a new column
my_df['E'] = my_df['C']+my_df['D']

In [36]:
my_df

    A   B   C   D   E
0   1   2   3   4   7
1   5   6   7   8  15
2   9  10  11  12  23
3  13  14  15  16  31

In [43]:
#importing an excel file
data = pd.read_csv('products-2.csv', sep='\t')

In [44]:
data

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,...,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,0,0,NaN,1000,750,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{694215B7-08F7-4C0D-ACB1-D734BA44C0C8},2014-02-08 10:01:36.827000000
1,2,Bearing Ball,BA-8327,0,0,NaN,1000,750,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{58AE3C20-4F3A-4749-A7D4-D568806CC537},2014-02-08 10:01:36.827000000
2,3,BB Ball Bearing,BE-2349,1,0,NaN,800,600,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E},2014-02-08 10:01:36.827000000
3,4,Headset Ball Bearings,BE-2908,0,0,NaN,800,600,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B},2014-02-08 10:01:36.827000000
4,316,Blade,BL-2036,1,0,NaN,800,600,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{E73E9750-603B-4131-89F5-3DD15ED5FF80},2014-02-08 10:01:36.827000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,995,ML Bottom Bracket,BB-8107,1,1,NaN,500,375,44.9506,101.24,...,NaN,M,NaN,5.0,96.0,2013-05-30 00:00:00,NaN,NaN,{71AB847F-D091-42D6-B735-7B0C2D82FC84},2014-02-08 10:01:36.827000000
500,996,HL Bottom Bracket,BB-9108,1,1,NaN,500,375,53.9416,121.49,...,NaN,H,NaN,5.0,97.0,2013-05-30 00:00:00,NaN,NaN,{230C47C5-08B2-4CE3-B706-69C0BDD62965},2014-02-08 10:01:36.827000000
501,997,Road-750 Black 44,BK-R19B-44,1,1,Black,100,75,343.6496,539.99,...,R,L,U,2.0,31.0,2013-05-30 00:00:00,NaN,NaN,{44CE4802-409F-43AB-9B27-CA53421805BE},2014-02-08 10:01:36.827000000
502,998,Road-750 Black 48,BK-R19B-48,1,1,Black,100,75,343.6496,539.99,...,R,L,U,2.0,31.0,2013-05-30 00:00:00,NaN,NaN,{3DE9A212-1D49-40B6-B10A-F564D981DBDE},2014-02-08 10:01:36.827000000
503,999,Road-750 Black 52,BK-R19B-52,1,1,Black,100,75,343.6496,539.99,...,R,L,U,2.0,31.0,2013-05-30 00:00:00,NaN,NaN,{AE638923-2B67-4679-B90E-ABBAB17DCA31},2014-02-08 10:01:36.827000000

In [45]:
#how many rows and columns

data.shape

(504, 25)

In [46]:
# first five rows

data.head()

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,...,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,0,0,NaN,1000,750,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{694215B7-08F7-4C0D-ACB1-D734BA44C0C8},2014-02-08 10:01:36.827000000
1,2,Bearing Ball,BA-8327,0,0,NaN,1000,750,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{58AE3C20-4F3A-4749-A7D4-D568806CC537},2014-02-08 10:01:36.827000000
2,3,BB Ball Bearing,BE-2349,1,0,NaN,800,600,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E},2014-02-08 10:01:36.827000000
3,4,Headset Ball Bearings,BE-2908,0,0,NaN,800,600,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B},2014-02-08 10:01:36.827000000
4,316,Blade,BL-2036,1,0,NaN,800,600,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{E73E9750-603B-4131-89F5-3DD15ED5FF80},2014-02-08 10:01:36.827000000

In [47]:
# last five rows

data.tail()

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,...,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
499,995,ML Bottom Bracket,BB-8107,1,1,NaN,500,375,44.9506,101.24,...,NaN,M,NaN,5.0,96.0,2013-05-30 00:00:00,NaN,NaN,{71AB847F-D091-42D6-B735-7B0C2D82FC84},2014-02-08 10:01:36.827000000
500,996,HL Bottom Bracket,BB-9108,1,1,NaN,500,375,53.9416,121.49,...,NaN,H,NaN,5.0,97.0,2013-05-30 00:00:00,NaN,NaN,{230C47C5-08B2-4CE3-B706-69C0BDD62965},2014-02-08 10:01:36.827000000
501,997,Road-750 Black 44,BK-R19B-44,1,1,Black,100,75,343.6496,539.99,...,R,L,U,2.0,31.0,2013-05-30 00:00:00,NaN,NaN,{44CE4802-409F-43AB-9B27-CA53421805BE},2014-02-08 10:01:36.827000000
502,998,Road-750 Black 48,BK-R19B-48,1,1,Black,100,75,343.6496,539.99,...,R,L,U,2.0,31.0,2013-05-30 00:00:00,NaN,NaN,{3DE9A212-1D49-40B6-B10A-F564D981DBDE},2014-02-08 10:01:36.827000000
503,999,Road-750 Black 52,BK-R19B-52,1,1,Black,100,75,343.6496,539.99,...,R,L,U,2.0,31.0,2013-05-30 00:00:00,NaN,NaN,{AE638923-2B67-4679-B90E-ABBAB17DCA31},2014-02-08 10:01:36.827000000

In [48]:
#columns

data.columns

Index(['ProductID', 'Name', 'ProductNumber', 'MakeFlag', 'FinishedGoodsFlag',
       'Color', 'SafetyStockLevel', 'ReorderPoint', 'StandardCost',
       'ListPrice', 'Size', 'SizeUnitMeasureCode', 'WeightUnitMeasureCode',
       'Weight', 'DaysToManufacture', 'ProductLine', 'Class', 'Style',
       'ProductSubcategoryID', 'ProductModelID', 'SellStartDate',
       'SellEndDate', 'DiscontinuedDate', 'rowguid', 'ModifiedDate'],
      dtype='object')

In [50]:
#summary statistics
data.describe()

,ProductID,MakeFlag,FinishedGoodsFlag,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,Weight,DaysToManufacture,ProductSubcategoryID,ProductModelID,DiscontinuedDate
count,504.000000,504.000000,504.000000,504.000000,504.000000,504.000000,504.000000,205.000000,504.000000,295.000000,295.000000,0.0
mean,673.039683,0.474206,0.585317,535.150794,401.363095,258.602961,438.666250,74.069220,1.103175,12.294915,37.444068,NaN
std,229.373142,0.499830,0.493157,374.112954,280.584715,461.632808,773.602843,182.166588,1.492616,9.860135,34.025442,NaN
min,1.000000,0.000000,0.000000,4.000000,3.000000,0.000000,0.000000,2.120000,0.000000,1.000000,1.000000,NaN
25%,447.750000,0.000000,0.000000,100.000000,75.000000,0.000000,0.000000,2.880000,0.000000,2.000000,11.000000,NaN
50%,747.500000,0.000000,1.000000,500.000000,375.000000,23.372200,49.990000,17.900000,1.000000,12.000000,26.000000,NaN
75%,873.250000,1.000000,1.000000,1000.000000,750.000000,317.075825,564.990000,27.350000,1.000000,17.000000,48.500000,NaN
max,999.000000,1.000000,1.000000,1000.000000,750.000000,2171.294200,3578.270000,1050.000000,4.000000,37.000000,128.000000,NaN

In [54]:
# what items have list prices less than $500: how to write a conditon

data[data['ListPrice'] > 3000]

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,...,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
253,749,Road-150 Red 62,BK-R93R-62,1,1,Red,100,75,2171.2942,3578.27,...,R,H,U,2.0,25.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{BC621E1F-2553-4FDC-B22E-5E44A9003569},2014-02-08 10:01:36.827000000
254,750,Road-150 Red 44,BK-R93R-44,1,1,Red,100,75,2171.2942,3578.27,...,R,H,U,2.0,25.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{C19E1136-5DA4-4B40-8758-54A85D7EA494},2014-02-08 10:01:36.827000000
255,751,Road-150 Red 48,BK-R93R-48,1,1,Red,100,75,2171.2942,3578.27,...,R,H,U,2.0,25.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{D10B7CC1-455E-435B-A08F-EC5B1C5776E9},2014-02-08 10:01:36.827000000
256,752,Road-150 Red 52,BK-R93R-52,1,1,Red,100,75,2171.2942,3578.27,...,R,H,U,2.0,25.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{5E085BA0-3CD5-487F-85BB-79ED1C701F23},2014-02-08 10:01:36.827000000
257,753,Road-150 Red 56,BK-R93R-56,1,1,Red,100,75,2171.2942,3578.27,...,R,H,U,2.0,25.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{30819B88-F0D3-4E7A-8105-19F6FAC2CEFB},2014-02-08 10:01:36.827000000
275,771,Mountain-100 Silver 38,BK-M82S-38,1,1,Silver,100,75,1912.1544,3399.99,...,M,H,U,1.0,19.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{CA74B54E-FC30-4464-8B83-019BFD1B2DBB},2014-02-08 10:01:36.827000000
276,772,Mountain-100 Silver 42,BK-M82S-42,1,1,Silver,100,75,1912.1544,3399.99,...,M,H,U,1.0,19.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{BBFFF5A5-4BDC-49A9-A5AD-7584ADFFE808},2014-02-08 10:01:36.827000000
277,773,Mountain-100 Silver 44,BK-M82S-44,1,1,Silver,100,75,1912.1544,3399.99,...,M,H,U,1.0,19.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{155FD77E-D6D6-43F0-8A5B-4A8305EB45CD},2014-02-08 10:01:36.827000000
278,774,Mountain-100 Silver 48,BK-M82S-48,1,1,Silver,100,75,1912.1544,3399.99,...,M,H,U,1.0,19.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{BA5551DF-C9EE-4B43-B3CA-8C19D0F9384D},2014-02-08 10:01:36.827000000
279,775,Mountain-100 Black 38,BK-M82B-38,1,1,Black,100,75,1898.0944,3374.99,...,M,H,U,1.0,19.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{DEA33347-FCD3-4346-AA0F-068CD6B3AD06},2014-02-08 10:01:36.827000000
280,776,Mountain-100 Black 42,BK-M82B-42,1,1,Black,100,75,1898.0944,3374.99,...,M,H,U,1.0,19.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{02935111-A546-4C6D-941F-BE12D42C158E},2014-02-08 10:01:36.827000000
281,777,Mountain-100 Black 44,BK-M82B-44,1,1,Black,100,75,1898.0944,3374.99,...,M,H,U,1.0,19.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{7920BC3B-8FD4-4610-93D2-E693A66B6474},2014-02-08 10:01:36.827000000
282,778,Mountain-100 Black 48,BK-M82B-48,1,1,Black,100,75,1898.0944,3374.99,...,M,H,U,1.0,19.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{1B486300-7E64-4C5D-A9BA-A8368E20C5A0},2014-02-08 10:01:36.827000000

In [61]:
#display: list price, standard cost, , weight and color where price > 3000
# use [[]] -> to get data
data[data['ListPrice'] > 3000][['ListPrice','Weight','Color','StandardCost']]

     ListPrice  Weight   Color  StandardCost
253    3578.27   15.00     Red     2171.2942
254    3578.27   13.77     Red     2171.2942
255    3578.27   14.13     Red     2171.2942
256    3578.27   14.42     Red     2171.2942
257    3578.27   14.68     Red     2171.2942
275    3399.99   20.35  Silver     1912.1544
276    3399.99   20.77  Silver     1912.1544
277    3399.99   21.13  Silver     1912.1544
278    3399.99   21.42  Silver     1912.1544
279    3374.99   20.35   Black     1898.0944
280    3374.99   20.77   Black     1898.0944
281    3374.99   21.13   Black     1898.0944
282    3374.99   21.42   Black     1898.0944

In [65]:
#all products that are red
data[data['Color'] == 'Red']

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,...,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
210,706,HL Road Frame - Red 58,FR-R92R-58,1,1,Red,500,375,1059.3100,1431.50,...,R,H,U,14.0,6.0,2008-04-30 00:00:00,NaN,NaN,{9540FF17-2712-4C90-A3D1-8CE5568B2462},2014-02-08 10:01:36.827000000
211,707,Sport-100 Helmet Red,HL-U509-R,0,1,Red,4,3,13.0863,34.99,...,S,NaN,NaN,31.0,33.0,2011-05-31 00:00:00,NaN,NaN,{2E1EF41A-C08A-4FF6-8ADA-BDE58B64A712},2014-02-08 10:01:36.827000000
221,717,HL Road Frame - Red 62,FR-R92R-62,1,1,Red,500,375,868.6342,1431.50,...,R,H,U,14.0,6.0,2011-05-31 00:00:00,NaN,NaN,{052E4F8B-0A2A-46B2-9F42-10FEBCFAE416},2014-02-08 10:01:36.827000000
222,718,HL Road Frame - Red 44,FR-R92R-44,1,1,Red,500,375,868.6342,1431.50,...,R,H,U,14.0,6.0,2011-05-31 00:00:00,NaN,NaN,{A88D3B54-2CAE-43F2-8C6E-EA1D97B46A7C},2014-02-08 10:01:36.827000000
223,719,HL Road Frame - Red 48,FR-R92R-48,1,1,Red,500,375,868.6342,1431.50,...,R,H,U,14.0,6.0,2011-05-31 00:00:00,NaN,NaN,{07BEFC9A-7634-402B-B234-D7797733BAAF},2014-02-08 10:01:36.827000000
224,720,HL Road Frame - Red 52,FR-R92R-52,1,1,Red,500,375,868.6342,1431.50,...,R,H,U,14.0,6.0,2011-05-31 00:00:00,NaN,NaN,{FCFEA68F-310E-4E6E-9F99-BB17D011EBAE},2014-02-08 10:01:36.827000000
225,721,HL Road Frame - Red 56,FR-R92R-56,1,1,Red,500,375,868.6342,1431.50,...,R,H,U,14.0,6.0,2011-05-31 00:00:00,NaN,NaN,{56C85873-4993-41B4-8096-1067CFD7E4BD},2014-02-08 10:01:36.827000000
229,725,LL Road Frame - Red 44,FR-R38R-44,1,1,Red,500,375,187.1571,337.22,...,R,L,U,14.0,9.0,2011-05-31 00:00:00,2013-05-29 00:00:00,NaN,{137D319D-44AD-42B2-AB61-60B9CE52B5F2},2014-02-08 10:01:36.827000000
230,726,LL Road Frame - Red 48,FR-R38R-48,1,1,Red,500,375,187.1571,337.22,...,R,L,U,14.0,9.0,2011-05-31 00:00:00,2013-05-29 00:00:00,NaN,{35213547-275F-4767-805D-C8A4B8E13745},2014-02-08 10:01:36.827000000
231,727,LL Road Frame - Red 52,FR-R38R-52,1,1,Red,500,375,187.1571,337.22,...,R,L,U,14.0,9.0,2011-05-31 00:00:00,2013-05-29 00:00:00,NaN,{C455E0B3-D716-419D-ABF0-7E03EFDD2E26},2014-02-08 10:01:36.827000000
232,728,LL Road Frame - Red 58,FR-R38R-58,1,1,Red,500,375,187.1571,337.22,...,R,L,U,14.0,9.0,2011-05-31 00:00:00,2013-05-29 00:00:00,NaN,{799A56FF-5AD2-41B3-BFAC-528B477AD129},2014-02-08 10:01:36.827000000
233,729,LL Road Frame - Red 60,FR-R38R-60,1,1,Red,500,375,187.1571,337.22,...,R,L,U,14.0,9.0,2011-05-31 00:00:00,2013-05-29 00:00:00,NaN,{1784BB14-D1F5-4B24-92DA-9127AD179302},2014-02-08 10:01:36.827000000
234,730,LL Road Frame - Red 62,FR-R38R-62,1,1,Red,500,375,187.1571,337.22,...,R,L,U,14.0,9.0,2011-05-31 00:00:00,2013-05-29 00:00:00,NaN,{7E73AA1F-8569-4D87-9F80-AC2E513E0803},2014-02-08 10:01:36.827000000
235,731,ML Road Frame - Red 44,FR-R72R-44,1,1,Red,500,375,352.1394,594.83,...,R,M,U,14.0,16.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{459E041C-3234-409E-B4CD-81728F8A2398},2014-02-08 10:01:36.827000000
236,732,ML Road Frame - Red 48,FR-R72R-48,1,1,Red,500,375,352.1394,594.83,...,R,M,U,14.0,16.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{B673189C-C042-413B-8194-73BC44B0492C},2014-02-08 10:01:36.827000000
237,733,ML Road Frame - Red 52,FR-R72R-52,1,1,Red,500,375,352.1394,594.83,...,R,M,U,14.0,16.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{55EA276B-82D8-4CCB-9AB1-9B1B75B15A83},2014-02-08 10:01:36.827000000
238,734,ML Road Frame - Red 58,FR-R72R-58,1,1,Red,500,375,352.1394,594.83,...,R,M,U,14.0,16.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{DF4CE1E2-BA9A-4657-B999-CCFA6C55D9C1},2014-02-08 10:01:36.827000000
239,735,ML Road Frame - Red 60,FR-R72R-60,1,1,Red,500,375,352.1394,594.83,...,R,M,U,14.0,16.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{B2E48E8C-63A5-469A-BA4C-4F5EBB1104A4},2014-02-08 10:01:36.827000000
253,749,Road-150 Red 62,BK-R93R-62,1,1,Red,100,75,2171.2942,3578.27,...,R,H,U,2.0,25.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{BC621E1F-2553-4FDC-B22E-5E44A9003569},2014-02-08 10:01:36.827000000
254,750,Road-150 Red 44,BK-R93R-44,1,1,Red,100,75,2171.2942,3578.27,...,R,H,U,2.0,25.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{C19E1136-5DA4-4B40-8758-54A85D7EA494},2014-02-08 10:01:36.827000000
255,751,Road-150 Red 48,BK-R93R-48,1,1,Red,100,75,2171.2942,3578.27,...,R,H,U,2.0,25.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{D10B7CC1-455E-435B-A08F-EC5B1C5776E9},2014-02-08 10:01:36.827000000
256,752,Road-150 Red 52,BK-R93R-52,1,1,Red,100,75,2171.2942,3578.27,...,R,H,U,2.0,25.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{5E085BA0-3CD5-487F-85BB-79ED1C701F23},2014-02-08 10:01:36.827000000
257,753,Road-150 Red 56,BK-R93R-56,1,1,Red,100,75,2171.2942,3578.27,...,R,H,U,2.0,25.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{30819B88-F0D3-4E7A-8105-19F6FAC2CEFB},2014-02-08 10:01:36.827000000
258,754,Road-450 Red 58,BK-R68R-58,1,1,Red,100,75,884.7083,1457.99,...,R,M,U,2.0,28.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{40D5EFFA-C0C4-479F-AF66-5F1BF8ED3BFB},2014-02-08 10:01:36.827000000
259,755,Road-450 Red 60,BK-R68R-60,1,1,Red,100,75,884.7083,1457.99,...,R,M,U,2.0,28.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{181A90CB-3678-490E-8418-78F73FB5343D},2014-02-08 10:01:36.827000000
260,756,Road-450 Red 44,BK-R68R-44,1,1,Red,100,75,884.7083,1457.99,...,R,M,U,2.0,28.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{F8B5E26A-3D33-4E39-B500-CC21A133062E},2014-02-08 10:01:36.827000000
261,757,Road-450 Red 48,BK-R68R-48,1,1,Red,100,75,884.7083,1457.99,...,R,M,U,2.0,28.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{C72C9978-0B04-46B3-9DE6-948FECA1C86E},2014-02-08 10:01:36.827000000
262,758,Road-450 Red 52,BK-R68R-52,1,1,Red,100,75,884.7083,1457.99,...,R,M,U,2.0,28.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{040A4B7D-4060-4507-AA92-7508B434797E},2014-02-08 10:01:36.827000000
263,759,Road-650 Red 58,BK-R50R-58,1,1,Red,100,75,486.7066,782.99,...,R,L,U,2.0,30.0,2011-05-31 00:00:00,2013-05-29 00:00:00,NaN,{6711D6BC-664F-4890-9F69-AF1DE321D055},2014-02-08 10:01:36.827000000
264,760,Road-650 Red 60,BK-R50R-60,1,1,Red,100,75,486.7066,782.99,...,R,L,U,2.0,30.0,2011-05-31 00:00:00,2013-05-29 00:00:00,NaN,{664867E5-4AB3-4783-96F9-42EFDE92F49B},2014-02-08 10:01:36.827000000
265,761,Road-650 Red 62,BK-R50R-62,1,1,Red,100,75,486.7066,782.99,...,R,L,U,2.0,30.0,2011-05-31 00:00:00,2013-05-29 00:00:00,NaN,{1DA14E09-6D71-4E2A-9EE9-1BDFDFD8A109},2014-02-08 10:01:36.827000000
266,762,Road-650 Red 44,BK-R50R-44,1,1,Red,100,75,486.7066,782.99,...,R,L,U,2.0,30.0,2011-05-31 00:00:00,2013-05-29 00:00:00,NaN,{F247AAAE-12E3-4048-A37B-CCE4A8999E81},2014-02-08 10:01:36.827000000
267,763,Road-650 Red 48,BK-R50R-48,1,1,Red,100,75,486.7066,782.99,...,R,L,U,2.0,30.0,2011-05-31 00:00:00,2013-05-29 00:00:00,NaN,{3DA5FA6E-9E0F-4896-AC10-948C27F4EB79},2014-02-08 10:01:36.827000000
268,764,Road-650 Red 52,BK-R50R-52,1,1,Red,100,75,486.7066,782.99,...,R,L,U,2.0,30.0,2011-05-31 00:00:00,2013-05-29 00:00:00,NaN,{07CFE1EA-8A37-4D2A-835F-BC8D37E564AF},2014-02-08 10:01:36.827000000
293,789,Road-250 Red 44,BK-R89R-44,1,1,Red,100,75,1518.7864,2443.35,...,R,H,U,2.0,26.0,2012-05-30 00:00:00,2013-05-29 00:00:00,NaN,{0AA71AD6-AFAF-43C6-9745-35D815B50A5B},2014-02-08 10:01:36.827000000
294,790,Road-250 Red 48,BK-R89R-48,1,1,Red,100,75,1518.7864,2443.35,...,R,H,U,2.0,26.0,2012-05-30 00:00:00,2013-05-29 00:00:00,NaN,{115DDADE-70E3-43F9-80DC-638DAEA271C4},2014-02-08 10:01:36.827000000
295,791,Road-250 Red 52,BK-R89R-52,1,1,Red,100,75,1518.7864,2443.35,...,R,H,U,2.0,26.0,2012-05-30 00:00:00,2013-05-29 00:00:00,NaN,{C9FD1DF4-9512-420A-B379-067108033B75},2014-02-08 10:01:36.827000000
296,792,Road-250 Red 58,BK-R89R-58,1,1,Red,100,75,1554.9479,2443.35,...,R,H,U,2.0,26.0,2012-05-30 00:00:00,NaN,NaN,{DF629C11-8D8B-4774-9D52-ECB64DC95212},2014-02-08 10:01:36.827000000

In [76]:
#products silver and list price>500 -> data[(cond.1) & (cond.2)]
data[(data['Color'] == 'Silver') & (data['ListPrice']>500)]

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,...,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
243,739,HL Mountain Frame - Silver 42,FR-M94S-42,1,1,Silver,500,375,747.2002,1364.50,...,M,H,U,12.0,5.0,2011-05-31 00:00:00,NaN,NaN,{8AE32663-8D6F-457D-8343-5B181FEC43A7},2014-02-08 10:01:36.827000000
244,740,HL Mountain Frame - Silver 44,FR-M94S-44,1,1,Silver,500,375,706.8110,1364.50,...,M,H,U,12.0,5.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{1909C60C-C490-411D-B3E6-12DDD7832482},2014-02-08 10:01:36.827000000
245,741,HL Mountain Frame - Silver 48,FR-M94S-52,1,1,Silver,500,375,706.8110,1364.50,...,M,H,U,12.0,5.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{B181EC1F-CA20-4724-B2EB-15F3E455142E},2014-02-08 10:01:36.827000000
246,742,HL Mountain Frame - Silver 46,FR-M94S-46,1,1,Silver,500,375,747.2002,1364.50,...,M,H,U,12.0,5.0,2011-05-31 00:00:00,NaN,NaN,{A189D86E-D923-4336-B13D-A5DB6F426540},2014-02-08 10:01:36.827000000
252,748,HL Mountain Frame - Silver 38,FR-M94S-38,1,1,Silver,500,375,747.2002,1364.50,...,M,H,U,12.0,5.0,2011-05-31 00:00:00,NaN,NaN,{F246ACAA-A80B-40EC-9208-02EDEF885129},2014-02-08 10:01:36.827000000
275,771,Mountain-100 Silver 38,BK-M82S-38,1,1,Silver,100,75,1912.1544,3399.99,...,M,H,U,1.0,19.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{CA74B54E-FC30-4464-8B83-019BFD1B2DBB},2014-02-08 10:01:36.827000000
276,772,Mountain-100 Silver 42,BK-M82S-42,1,1,Silver,100,75,1912.1544,3399.99,...,M,H,U,1.0,19.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{BBFFF5A5-4BDC-49A9-A5AD-7584ADFFE808},2014-02-08 10:01:36.827000000
277,773,Mountain-100 Silver 44,BK-M82S-44,1,1,Silver,100,75,1912.1544,3399.99,...,M,H,U,1.0,19.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{155FD77E-D6D6-43F0-8A5B-4A8305EB45CD},2014-02-08 10:01:36.827000000
278,774,Mountain-100 Silver 48,BK-M82S-48,1,1,Silver,100,75,1912.1544,3399.99,...,M,H,U,1.0,19.0,2011-05-31 00:00:00,2012-05-29 00:00:00,NaN,{BA5551DF-C9EE-4B43-B3CA-8C19D0F9384D},2014-02-08 10:01:36.827000000
283,779,Mountain-200 Silver 38,BK-M68S-38,1,1,Silver,100,75,1265.6195,2319.99,...,M,H,U,1.0,20.0,2012-05-30 00:00:00,NaN,NaN,{3A45D835-ABAE-4806-AC03-C53ABCD3B974},2014-02-08 10:01:36.827000000
284,780,Mountain-200 Silver 42,BK-M68S-42,1,1,Silver,100,75,1265.6195,2319.99,...,M,H,U,1.0,20.0,2012-05-30 00:00:00,NaN,NaN,{CE4849B4-56E6-4B50-808B-9BDE67CC4704},2014-02-08 10:01:36.827000000
285,781,Mountain-200 Silver 46,BK-M68S-46,1,1,Silver,100,75,1265.6195,2319.99,...,M,H,U,1.0,20.0,2012-05-30 00:00:00,NaN,NaN,{20799030-420C-496A-9922-09189C2B457E},2014-02-08 10:01:36.827000000
484,980,Mountain-400-W Silver 38,BK-M38S-38,1,1,Silver,100,75,419.7784,769.49,...,M,M,W,1.0,22.0,2013-05-30 00:00:00,NaN,NaN,{7A927632-99A4-4F24-ADCE-0062D2D113D9},2014-02-08 10:01:36.827000000
485,981,Mountain-400-W Silver 40,BK-M38S-40,1,1,Silver,100,75,419.7784,769.49,...,M,M,W,1.0,22.0,2013-05-30 00:00:00,NaN,NaN,{0A72791C-A984-4733-AE4E-2B4373CFD7CD},2014-02-08 10:01:36.827000000
486,982,Mountain-400-W Silver 42,BK-M38S-42,1,1,Silver,100,75,419.7784,769.49,...,M,M,W,1.0,22.0,2013-05-30 00:00:00,NaN,NaN,{4EA4FE06-AAEA-42D4-A9D9-69F6A9A4A042},2014-02-08 10:01:36.827000000
487,983,Mountain-400-W Silver 46,BK-M38S-46,1,1,Silver,100,75,419.7784,769.49,...,M,M,W,1.0,22.0,2013-05-30 00:00:00,NaN,NaN,{0B0C8EE4-FF2D-438E-9CAC-464783B86191},2014-02-08 10:01:36.827000000
488,984,Mountain-500 Silver 40,BK-M18S-40,1,1,Silver,100,75,308.2179,564.99,...,M,L,U,1.0,23.0,2013-05-30 00:00:00,NaN,NaN,{B96C057B-6416-4851-8D59-BCB37C8E6E51},2014-02-08 10:01:36.827000000
489,985,Mountain-500 Silver 42,BK-M18S-42,1,1,Silver,100,75,308.2179,564.99,...,M,L,U,1.0,23.0,2013-05-30 00:00:00,NaN,NaN,{B8D1B5D9-8A39-4097-A04A-56E95559B534},2014-02-08 10:01:36.827000000
490,986,Mountain-500 Silver 44,BK-M18S-44,1,1,Silver,100,75,308.2179,564.99,...,M,L,U,1.0,23.0,2013-05-30 00:00:00,NaN,NaN,{E8CEC794-E8E2-4312-96A7-4832E573D3FC},2014-02-08 10:01:36.827000000
491,987,Mountain-500 Silver 48,BK-M18S-48,1,1,Silver,100,75,308.2179,564.99,...,M,L,U,1.0,23.0,2013-05-30 00:00:00,NaN,NaN,{77EF419F-481F-40B9-BDB9-7E6678E550E3},2014-02-08 10:01:36.827000000
492,988,Mountain-500 Silver 52,BK-M18S-52,1,1,Silver,100,75,308.2179,564.99,...,M,L,U,1.0,23.0,2013-05-30 00:00:00,NaN,NaN,{CAD60945-183E-4AB3-A70C-3F5BAC6BF134},2014-02-08 10:01:36.827000000

In [77]:
#add new column to 'to_reorder' = current stock - reorder point

data['to_reorder'] = data['SafetyStockLevel'] - data['ReorderPoint']

In [78]:
data

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,...,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate,to_reorder
0,1,Adjustable Race,AR-5381,0,0,NaN,1000,750,0.0000,0.00,...,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{694215B7-08F7-4C0D-ACB1-D734BA44C0C8},2014-02-08 10:01:36.827000000,250
1,2,Bearing Ball,BA-8327,0,0,NaN,1000,750,0.0000,0.00,...,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{58AE3C20-4F3A-4749-A7D4-D568806CC537},2014-02-08 10:01:36.827000000,250
2,3,BB Ball Bearing,BE-2349,1,0,NaN,800,600,0.0000,0.00,...,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E},2014-02-08 10:01:36.827000000,200
3,4,Headset Ball Bearings,BE-2908,0,0,NaN,800,600,0.0000,0.00,...,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B},2014-02-08 10:01:36.827000000,200
4,316,Blade,BL-2036,1,0,NaN,800,600,0.0000,0.00,...,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{E73E9750-603B-4131-89F5-3DD15ED5FF80},2014-02-08 10:01:36.827000000,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,995,ML Bottom Bracket,BB-8107,1,1,NaN,500,375,44.9506,101.24,...,M,NaN,5.0,96.0,2013-05-30 00:00:00,NaN,NaN,{71AB847F-D091-42D6-B735-7B0C2D82FC84},2014-02-08 10:01:36.827000000,125
500,996,HL Bottom Bracket,BB-9108,1,1,NaN,500,375,53.9416,121.49,...,H,NaN,5.0,97.0,2013-05-30 00:00:00,NaN,NaN,{230C47C5-08B2-4CE3-B706-69C0BDD62965},2014-02-08 10:01:36.827000000,125
501,997,Road-750 Black 44,BK-R19B-44,1,1,Black,100,75,343.6496,539.99,...,L,U,2.0,31.0,2013-05-30 00:00:00,NaN,NaN,{44CE4802-409F-43AB-9B27-CA53421805BE},2014-02-08 10:01:36.827000000,25
502,998,Road-750 Black 48,BK-R19B-48,1,1,Black,100,75,343.6496,539.99,...,L,U,2.0,31.0,2013-05-30 00:00:00,NaN,NaN,{3DE9A212-1D49-40B6-B10A-F564D981DBDE},2014-02-08 10:01:36.827000000,25
503,999,Road-750 Black 52,BK-R19B-52,1,1,Black,100,75,343.6496,539.99,...,L,U,2.0,31.0,2013-05-30 00:00:00,NaN,NaN,{AE638923-2B67-4679-B90E-ABBAB17DCA31},2014-02-08 10:01:36.827000000,25

In [80]:
#how many different colors in data set: value.count()


data['Color'].value_counts()

Black           93
Silver          43
Red             38
Yellow          36
Blue            26
Multi            8
Silver/Black     7
White            4
Grey             1
Name: Color, dtype: int64

In [81]:
#how do we know how many unique values are in a col

data['Color'].unique()

array([nan, 'Black', 'Silver', 'Red', 'White', 'Blue', 'Multi', 'Yellow',
       'Grey', 'Silver/Black'], dtype=object)

In [83]:
# provides count: except nan value
data['Color'].nunique()

9

In [89]:
phone = pd.read_csv('phone_data.csv') #don't need sep \ -> comma already

In [94]:
phone.shape

(830, 7)

In [95]:
#types of imtes
phone.describe()

            index      duration
count  830.000000    830.000000
mean   414.500000    117.804036
std    239.744656    444.129560
min      0.000000      1.000000
25%    207.250000      1.000000
50%    414.500000     24.500000
75%    621.750000     55.000000
max    829.000000  10528.000000

In [92]:
phone

     index            date  duration  item    month   network network_type
0        0  15/10/14 06:58    34.429  data  2014-11      data         data
1        1  15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
2        2  15/10/14 14:46    23.000  call  2014-11    Meteor       mobile
3        3  15/10/14 14:48     4.000  call  2014-11     Tesco       mobile
4        4  15/10/14 17:27     4.000  call  2014-11     Tesco       mobile
..     ...             ...       ...   ...      ...       ...          ...
825    825  13/03/15 00:38     1.000   sms  2015-03     world        world
826    826  13/03/15 00:39     1.000   sms  2015-03  Vodafone       mobile
827    827  13/03/15 06:58    34.429  data  2015-03      data         data
828    828  14/03/15 00:13     1.000   sms  2015-03     world        world
829    829  14/03/15 00:16     1.000   sms  2015-03     world        world

[830 rows x 7 columns]

In [97]:
# What was the longest phone call / data entry?
phone['duration'].max()

10528.0

In [99]:
# How many seconds of phone calls are recorded in total?
phone['duration'].sum()

97777.35000000002

In [101]:
# How many entries are there for each month?
phone['month'].value_counts()

2014-11    230
2015-01    205
2014-12    157
2015-02    137
2015-03    101
Name: month, dtype: int64

In [ ]:
# Number of non-null unique network entries